body {
  margin: 0px;
  margin-top: 2px;
  border-style: ridge;
  border-color: brown;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
}
.mybox {
  line-height: 0px;
  box-sizing: border-box;
  margin: 0px;
  margin-bottom: -4px;
  padding: 0px;
  border-width: 1px;
  border-color: blanchedalmond;
  border-style: solid;

  display: inline-block;
  background-color: black;
  width: 18.897637795px;
  height: 18.897637795px;
}
