body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
}
.mybox {
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  border-color: blanchedalmond;
  border-style: solid;
  border-width: 0.1vw;
  display: inline-block;
  background-color: black;
  width: 0.5cm;
  height: 0.5cm;
}
